<div class="container mt-2 main">
    <h1 class="h3 mb-3 title">About Us</h1>
    <div class="content">
        <p>
            HealthyBazar was born with the idea that healing needs to be holistic and only traditional medicine systems (AYUSH) such as Ayurveda and Unani can heal the body comprehensively. In contrast, all other medicine systems often focus only on managing symptoms, offering placebo effect.
        </p>
        <p>
            We wanted to make Ayurveda and Unani treatments more accessible. Thus, we brought to you a reliable online platform that not only delivers top-rated herbal medicines anytime but also provides online consultations with highly qualified practitioners at your fingertips. HealthyBazar offers a wide variety of 100% authentic natural wellness solutions designed for different health concerns.
        </p>
        <p>
            Founded in 2015 by Snehil & Himanshu Singhal, HealthyBazar carried forward a 75-year legacy of holistic healing and trusted care built by their family.
        </p>
        <p>
            <strong>Why We Started HealthyBazar.com?</strong><br>HealthyBazar is more than just a digital wellness store. It all began after a simple observation - finding trusted Ayurvedic or Unani medicines online felt like an uphill battle. Either the products weren’t genuine or there was a lack of guidance on what truly catered to one’s requirement. We noticed families struggling to get age-old remedies that their elders resorted to and availability of excessive information (sometimes incorrect too) left wellness seekers only overwhelmed and misguided. That’s when the idea of HealthyBazar came to life.
        </p>
        <p>
            We have built a curated space where traditional knowledge befriended modern convenience. At HealthyBazar, trust isn’t just another promise; it’s the foundation of everything we do. Thoughtful guidance by certified AYUSH practitioners who understand the value of safe and effective remedies, is what sets our online platform apart. We’re dedicated to offering only the best in Ayurvedic and Unani medicines, as well as fresh, natural herbs that support a range of wellness needs. Every product available is chosen with care and comes from top-selling and trusted brands, so you can feel confident in selecting formulations that work the best for you.
        </p>
        <!-- <p>
            <strong>Everything You Need, Rooted in Nature</strong><br>The rich legacy of Ayurveda and Unani is made easily available in one simple, authentic online platform - HealthyBazar. We completely understand how difficult it can be to find authentic, natural wellness solutions, especially when you’re looking for brands you’ve grown up with or prefer certain formulations that were passed down from your previous generations. And to solve this, we’ve created a platform where quality meets convenience. From effective wellness tonics to specialized remedies, discover an extensive selection of Ayurvedic and Unani products sourced from some of the best-selling brands in traditional medicine. Whether you’re suffering from obesity, thyroid, diabetes or looking for an effective immunity booster, visit HealthyBazar to discover a wide variety of pure, safe, and effective solutions at competitive prices.
        </p>
        <p>
            In search of trustworthy, qualified Ayurvedic practitioners to guide you through your wellness journey? We have you covered. Book a consultation with reputable practitioners who are here to support you with trusted options that align with natural healing philosophies. With Healthy Bazar, put an end to searching far and wide for the right remedy; for any health concern, the right solution is just a click away, delivered to your doorstep with care and authenticity.
        </p> -->
        <p>
            <strong>Values We Stand For</strong>
        </p>
        <p>
            <strong>Prioritizing Trust, Always</strong><br>We get it. Finding wellness solutions, especially those that are tied to family traditions or cultural roots, isn’t easy. Before purchasing, you need to know you’re getting the real deal. For this reason, every product we offer, is personally vetted to ensure safety and authenticity, offering only those brands that care as much as we do. Whether it’s a tonic for season change or difficult-to-find herbal blend, discover what you’re looking for from the brand you count on.
        </p>
        <p>
            <strong>Preserving Traditional Wisdom</strong><br>Ancient healing traditions like Ayurveda and Unani still work and in some cases, they may be better alternatives for some people. But accessing authentic products and reliable guidance are the real challenges. And we’re here to change that. HealthyBazar bridges this gap. From reliable classical formulas to fresh, seasonal herbs, we aim to help you integrate this timeless wisdom into your daily routine with ease. Because traditions that healed our grandparents deserve to thrive today.
        </p>
        <p>
            <strong>No Compromise on Quality</strong><br>When it comes to ensuring your overall wellbeing, we’re never satisfied with "good enough". And that’s the reason why we make sure every product meets the highest quality standards, whether it’s the ingredients or the entire batch. You’ll only find reputable brands that are noted for safety, quality, and efficacy. Need to restock your daily wellness solutions or looking for something specific? Discover what truly supports your health at HealthyBazar. With a wide range of trusted brands available, we bring you peace of mind, knowing you’re making the right choice for your body. Because this isn’t about delivering quick fixes; it’s about ensuring your long-term wellbeing, from the beginning. 
        </p>
        <!-- <p>
            <strong>Honesty in Our Interaction</strong><br>We don’t want you to be confused or stressed over complicated terms. That’s why we avoid jargon at all costs. One glance at a product and you will know what’s in it, the benefits, and how soon it’ll be delivered. If something doesn’t feel right to us, we won’t sell it. Period. 
        </p> -->
        <p>
            <strong>Got questions for us?</strong> "why?" or a “how?” We’re all ears. After all, your feedback sharpens what we do. Email Contact&#64;healthybazar.com or call us +9119008008 and we would love to respond to your query, as soon as possible. Integrity isn’t another buzzword here; it’s the standard we live by.
        </p>
        <p>
            <strong><br>About Director - Snehil H. Singhal</strong>
        </p>
        <p>
            Snehil Singhal is a passionate entrepreneur and co-founder of Healthybazar.com, dedicated to making holistic healthcare simple, accessible, and effective. With 12 years of IT pre-sales consulting experience, she combines strategic thinking with a genuine desire to create a positive impact in people’s lives.
        </p>
        <p>
            Believing that true wellness encompasses physical, mental, social, and spiritual wellbeing, Snehil founded HealthyBazar to bridge the gap between age-old knowledge and modern convenience. Under her leadership, HealthyBazar has evolved into a trusted platform offering Ayurvedic and Unani remedies, natural wellness solutions, and expert consultations, making it easier for individuals and families to integrate holistic healthcare into daily life.
        </p>
        <p>
            Snehil is also pioneering Holistic Health-as-a-Service (HHaas), offering corporates innovative “Health Benefits” programs that promote employee wellbeing, alongside convenient “Health Packages” for individuals. Her approach emphasizes simplicity, authenticity, and long-term wellness, ensuring every solution supports healthier, happier lives.
        </p>
        <p>
            Driven by a humanitarian spirit, Snehil is passionate about spreading Holistic Healthcare knowledge and Re-establishing traditional Indian Culture for modern times to create lasting impact
        </p>
        <p>
            She is more than happy to meet people of the similar mindset and explore collaborations with them and organizations aligned with her vision of wellness for all.
        </p>
        <p>
            Director’s Contact: <a href="tel:+918800984040">+91-8800984040</a> 
            <br>Email ID: <a href="mailto:snehil.hridaya@healthybazar.com">snehil.hridaya&#64;healthybazar.com</a>
        </p>
    </div>
</div>