@import "../../../../assets/styles/main.scss";
.health-concern-inactive {
  background-color: #e5e5e5;
  color: #000;
  width: fit-content;
  border-radius: 50px;
}
.health-concern-active {
  background-color: rgba(5, 143, 70, 0.1);
  color: rgba(5, 143, 70);
  width: fit-content;
  border-radius: 50px;
}
.d-contents {
  display: contents;
}
.cancel {
  font-size: 14px;
  border-radius: 50%;
  background: #058f46;
  color: #fff;
  position: absolute;
  transform: translate(0rem, -0.4rem);
}

.dropdown-menu {
  width: 840px !important;
  position: absolute;
  inset: 0px 0px auto auto;
  margin: 0px;
  transform: translate(-40.7333px, 40.5333px);
}
