<div class="container mt-2 main">
    <h1 class="h3 mb-3 title">Terms & Condition</h1>
    <div class="content">
        <p>Term of use:</p>

        <p>This document is an electronic record in terms of Information Technology&nbsp;Act, 2000 and rules there under
            as
            applicable and the amended provisions pertaining to electronic records in various statutes as amended by
            the&nbsp;Information Technology Act, 2000. This electronic record is generated&nbsp;by a computer system and
            does not require any physical or digital&nbsp;signatures.</p>

        <p>This document is published in accordance with the provisions of Rule 3&nbsp;(1) of the Information Technology
            (Intermediaries guidelines) Rules,&nbsp;2011 that require publishing the rules and regulations, privacy
            policy
            and&nbsp;Terms of Use for access or usage of www.healthybazar.com website.</p>

        <p>The domain name www.healthybazar.com (hereinafter referred to as "Website") is&nbsp;owned by ‘Tika Ram Jai
            Prakash’ a proprietary firm with its registered office ‘M/s TikaRam Jai Prakash, chotti Mandi Hapur –
            245101’.
        </p>

        <p>Your use of the Website and services and tools are governed by the following&nbsp;terms and conditions
            ("Terms of
            Use") as applicable to the Website including&nbsp;the applicable policies which are incorporated herein by
            way
            of reference. If You&nbsp;transact on the Website, You shall be subject to the policies that are
            applicable&nbsp;to the Website for such transaction. By mere use of the Website, You shall
            be&nbsp;contracting
            with HealthyBazar Internet Private Limited and these terms and conditions including the policies constitute
            Your
            binding obligations, with HealthyBazar.</p>

        <p>&nbsp;</p>

        <p>For the purpose of these Terms of Use, wherever the context so
            requires&nbsp;"You"&nbsp;or&nbsp;"User"&nbsp;shall
            mean any natural or legal person who has agreed to become a buyer&nbsp;on the Website by providing
            Registration
            Data while registering on the Website as&nbsp;Registered User using the computer systems. HealthyBazar
            allows
            the User to surf the&nbsp;Website or making purchases without registering on the Website. The
            term&nbsp;"We",&nbsp;"Us",&nbsp;"Our"&nbsp;shall mean HealthyBazar Internet Private Limited.</p>

        <p>&nbsp;</p>

        <p>When You use any of the services provided by Us through the Website, including&nbsp;but not limited to, (e.g.
            Product Reviews, Seller Reviews), You will be subject to&nbsp;the rules, guidelines, policies, terms, and
            conditions applicable to such service,&nbsp;and they shall be deemed to be incorporated into this Terms of
            Use
            and shall be&nbsp;considered as part and parcel of this Terms of Use. We reserve the right, at Our&nbsp;sole
            discretion, to change, modify, add or remove portions of these Terms of Use,&nbsp;at any time without any
            prior
            written notice to You. It is Your responsibility to&nbsp;review these Terms of Use periodically for updates
            /
            changes. Your continued use&nbsp;of the Website following the posting of changes will mean that You accept
            and&nbsp;agree to the revisions. As long as You comply with these Terms of Use, We grant&nbsp;You a
            personal,
            non-exclusive, non-transferable, limited privilege to enter and&nbsp;use the Website.</p>

        <p>&nbsp;</p>

        <p>ACCESSING, BROWSING OR OTHERWISE USING THE SITE INDICATES&nbsp;YOUR AGREEMENT TO ALL THE TERMS AND CONDITIONS
            UNDER THESETERMS OF USE, SO PLEASE READ THE TERMS OF USE CAREFULLY BEFORE&nbsp;PROCEEDING.&nbsp;By impliedly
            or
            expressly accepting these Terms of Use, You also&nbsp;accept and agree to be bound by HealthyBazar Policies
            ((including but not limited to&nbsp;Privacy Policy available at&nbsp;Privacy) as amended&nbsp;from time to
            time.
        </p>

        <p>&nbsp;</p>

        <p>Membership Eligibility</p>

        <p>Use of the Website is available only to persons who can form legally binding&nbsp;contracts under Indian
            Contract
            Act, 1872. Persons who are "incompetent to contract" within the meaning of the Indian Contract Act, 1872
            including minors,&nbsp;un-discharged insolvents etc. are not eligible to use the Website. If you are&nbsp;a
            minor i.e. under the age of 18 years, you shall not register as a User of the&nbsp;HealthyBazar website and
            shall not transact on or use the website. As a minor if you wish to use or transact on website, such use or
            transaction may be made by your&nbsp;legal guardian or parents on the Website. HealthyBazar reserves the
            right
            to terminate&nbsp;your membership and / or refuse to provide you with access to the Website if it
            is&nbsp;brought to HealthyBazar's notice or if it is discovered that you are under the age of 18&nbsp;years.
        </p>

        <p>&nbsp;</p>

        <p>Your Account and Registration Obligations</p>

        <p>If You use the Website, You shall be responsible for maintaining the&nbsp;confidentiality of your Display
            Name
            and Password and You shall be responsible&nbsp;for all activities that occur under your Display Name and
            Password. You agree&nbsp;that if You provide any information that is untrue, inaccurate, not current
            or&nbsp;incomplete or We have reasonable grounds to suspect that such information is&nbsp;untrue,
            inaccurate,
            not current or incomplete, or not in accordance with the this&nbsp;Terms of Use, We shall have the right to
            indefinitely suspend or terminate or&nbsp;block access of your membership on the Website and refuse to
            provide
            You with&nbsp;access to the Website.</p>

        <p>&nbsp;</p>

        <p>Communications</p>

        <p>When You use the Website or send emails or other data, information or&nbsp;communication to us, You agree and
            understand that You are communicating&nbsp;with Us through electronic records and You consent to receive
            communications&nbsp;via electronic records from Us periodically and as and when required. We may communicate
            with you by email or by such other mode of communication,&nbsp;electronic or otherwise.</p>

        <p>&nbsp;</p>

        <p>Platform for Transaction and Communication</p>

        <p>The Website is a platform that Users utilize to meet and interact with one another&nbsp;for their
            transactions.
            HealthyBazar is not and cannot be a party to or control in any&nbsp;manner any transaction between the
            Website's
            Users.</p>

        <p><br>
            Henceforward:</p>

        <p>1. All commercial/contractual terms are offered by and agreed to between Buyers&nbsp;and Sellers alone. The
            commercial/contractual terms include without limitation price, shipping costs, payment methods, payment
            terms,
            date, period and mode&nbsp;of delivery, warranties related to products and services and after sales services
            related to products and services. HealthyBazar does not have any control or does not&nbsp;determine or
            advise or
            in any way involve itself in the offering or acceptance of such commercial/contractual terms between the
            Buyers
            and Sellers.</p>

        <p>&nbsp;</p>

        <p>2. HealthyBazar does not make any representation or Warranty as to specifics (such&nbsp;as quality, value,
            salability, etc) of the products or services proposed to be sold or offered to be sold or purchased on the
            Website. HealthyBazar does not implicitly or&nbsp;explicitly support or endorse the sale or purchase of any
            products or services on&nbsp;the Website. HealthyBazar accepts no liability for any errors or omissions,
            whether
            on&nbsp;behalf of itself or third parties.</p>

        <p>&nbsp;</p>

        <p>3. HealthyBazar is not responsible for any non-performance or breach of any contract&nbsp;entered into
            between
            Buyers and Sellers. HealthyBazar cannot and does not guaranteethat the concerned Buyers and/or Sellers will
            perform any transaction concluded&nbsp;on the Website. HealthyBazar shall not and is not required to mediate
            or
            resolve anydispute or disagreement between Buyers and Sellers.</p>

        <p>&nbsp;</p>

        <p>4. HealthyBazar does not make any representation or warranty as to the item-specifics&nbsp;(such as legal
            title,
            creditworthiness, identity, etc) of any of its Users. You are advised to independently verify the bona fides
            of
            any particular User that You&nbsp;choose to deal with on the Website and use Your best judgment in that
            behalf.
        </p>

        <p>&nbsp;</p>

        <p>5. HealthyBazar does not at any point of time during any transaction between Buyer&nbsp;and Seller on the
            Website
            come into or take possession of any of the products or&nbsp;services offered by Seller nor does it at any
            point
            gain title to or have any rights&nbsp;or claims over the products or services offered by Seller to Buyer.
        </p>

        <p>&nbsp;</p>

        <p>6. At no time shall HealthyBazar hold any right, title or interest over the products nor&nbsp;shall
            HealthyBazar
            have any obligations or liabilities in respect of such contract entered&nbsp;into between Buyers and
            Sellers.
            HealthyBazar is not responsible for unsatisfactory or&nbsp;delayed performance of services or damages or
            delays
            as a result of products&nbsp;which are out of stock, unavailable or back ordered.</p>

        <p>&nbsp;</p>

        <p>7. The Website is only a platform that can be utilized by Users to reach a larger&nbsp;base to buy and sell
            products or services. HealthyBazar is only providing a platform for&nbsp;communication and it is agreed that
            the
            contract for sale of any of the products&nbsp;or services shall be a strictly bipartite contract between the
            Seller and the Buyer.</p>

        <p>At no time shall HealthyBazar hold any any right, title or interest over the products&nbsp;nor shall
            HealthyBazar
            have any obligations or liabilities in respect of such contract.</p>

        <p>HealthyBazar is not responsible for unsatisfactory or delayed performance of services&nbsp;or damages or
            delays
            as a result of products which are out of stock, unavailable&nbsp;or back ordered.</p>

        <p>&nbsp;</p>

        <p>8. You shall independently agree upon the manner and terms and conditions of&nbsp;delivery, payment,
            insurance
            etc. with the seller(s) that You transact with.</p>

        <p>&nbsp;</p>

        <p>Disclaimer:&nbsp;Pricing on any product(s) as is reflected on the Website may be wrong due&nbsp;to some
            technical
            issue, typographical error or product information published by seller may be incorrectly reflected and in
            such
            an event seller may cancel such&nbsp;your order(s).</p>

        <p>&nbsp;</p>

        <p>9. You release and indemnify HealthyBazar and/or any of its officers and&nbsp;representatives from any cost,
            damage, liability or other consequence of any of&nbsp;the actions of the Users of the Website and
            specifically
            waive any claims that you&nbsp;may have in this behalf under any applicable law. Notwithstanding its
            reasonable&nbsp;efforts in that behalf, HealthyBazar cannot take responsibility or control the
            information&nbsp;provided by other Users which is made available on the Website. You may find&nbsp;other
            User's
            information to be offensive, harmful, inconsistent, inaccurate, or&nbsp;deceptive. Please use caution and
            practice safe trading when using the Website.</p>

        <p>Please note that there could be risks in dealing with underage persons or people&nbsp;acting under false
            pretence.</p>

        <p>&nbsp;</p>

        <p>Charges</p>

        <p>&nbsp;</p>

        <p>Membership on the Website is free for buyers. HealthyBazar does not charge any fee for browsing and buying on
            the
            Website. HealthyBazar reserves the right to change its Fee Policy from time to time. In particular,
            HealthyBazar
            may at its sole discretion introduce new services and modify some or all of the existing services offered on
            the
            Website. In such an event HealthyBazar reserves the right to introduce fees for the new services offered or
            amend/introduce fees for existing services, as the case may be. Changes to the Fee Policy shall be posted on
            the
            Website and such changes shall automatically become effective immediately after they are posted on the
            Website.
            Unless otherwise stated, all fees shall be quoted in Indian Rupees. You shall be solely responsible for
            compliance of all applicable laws including those in India for making payments to HealthyBazar.</p>

        <p>&nbsp;</p>

        <p>Use of the Website</p>

        <p>You agree, undertake and confirm that Your use of Website shall be strictly&nbsp;governed by the following
            binding principles:</p>

        <p>&nbsp;</p>

        <p>1. You shall not host, display, upload, modify, publish, transmit, update or share&nbsp;any information
            which:
        </p>

        <p>(a) belongs to another person and to which You does not have any right to;</p>

        <p>(b) is grossly harmful, harassing, blasphemous, defamatory, obscene,&nbsp;pornographic, paedophilic,
            libellous,
            invasive of another's privacy, hateful, or&nbsp;racially, ethnically objectionable, disparaging, relating or
            encouraging money&nbsp;laundering or gambling, or otherwise unlawful in any manner whatever;&nbsp;or
            unlawfully
            threatening or unlawfully harassing including but not limited&nbsp;to "indecent representation of women"
            within
            the meaning of the Indecent&nbsp;Representation of Women (Prohibition) Act, 1986;</p>

        <p>(c) is misleading in any way;</p>

        <p>(d) is patently offensive to the online community, such as sexually explicit&nbsp;content, or content that
            promotes obscenity, paedophilia, racism, bigotry, hatred&nbsp;or physical harm of any kind against any group
            or
            individual;</p>

        <p>(e) harasses or advocates harassment of another person;</p>

        <p>(f) involves the transmission of "junk mail", "chain letters", or unsolicited mass&nbsp;mailing or
            "spamming";
        </p>

        <p>(g) promotes illegal activities or conduct that is abusive, threatening, obscene,&nbsp;defamatory or
            libellous;
        </p>

        <p>(h) infringes upon or violates any third party's rights [including, but not limited&nbsp;to, intellectual
            property rights, rights of privacy (including without limitation unauthorized disclosure of a person's name,
            email address, physical address or&nbsp;phone number) or rights of publicity];</p>

        <p>(i) promotes an illegal or unauthorized copy of another person's copyrighted work&nbsp;(see "Copyright
            complaint"
            below for instructions on how to lodge a complaint about uploaded copyrighted material), such as providing
            pirated computer&nbsp;programs or links to them, providing information to circumvent manufacture-installed
            copy-protect devices, or providing pirated music or links to pirated music&nbsp;files;</p>

        <p>(j) Contains restricted or password-only access pages, or hidden pages or images&nbsp;(those not linked to or
            from another accessible page);</p>

        <p>(k) Provides material that exploits people in a sexual, violent or otherwise&nbsp;inappropriate manner or
            solicits personal information from anyone;</p>

        <p>(l) Provides instructional information about illegal activities such as making or&nbsp;buying illegal
            weapons,
            violating someone's privacy, or providing or creating computer viruses;</p>

        <p>(m) contains video, photographs, or images of another person (with a minor or&nbsp;an adult).</p>

        <p>(n) tries to gain unauthorized access or exceeds the scope of authorized access&nbsp;to the Website or to
            profiles, blogs, communities, account information, bulletins, friend request, or other areas of the Website
            or
            solicits passwords or personal&nbsp;identifying information for commercial or unlawful purposes from other
            users;</p>

        <p>(o) Engages in commercial activities and/or sales without Our prior written&nbsp;consent such as contests,
            sweepstakes, barter, advertising and pyramid schemes,&nbsp;or the buying or selling of "virtual" products
            related to the Website. Throughout&nbsp;this Terms of Use, HealthyBazar's prior written consent means a
            communication&nbsp;coming from HealthyBazar's Legal Department, specifically in response to
            Your&nbsp;request,
            and specifically addressing the activity or conduct for which You seek&nbsp;authorization;</p>

        <p>(p) Solicits gambling or engages in any gambling activity which We, in Our sole&nbsp;discretion, believes is
            or
            could be construed as being illegal;</p>

        <p>(q) Interferes with another USER's use and enjoyment of the Website or any&nbsp;other individual's User and
            enjoyment of similar services;</p>

        <p>(r) Refers to any website or URL that, in Our sole discretion, contains material&nbsp;that is inappropriate
            for
            the Website or any other website, contains content that would be prohibited or violates the letter or spirit
            of
            these Terms of Use.</p>

        <p>(s) Harm minors in any way;</p>

        <p>(t) Infringes any patent, trademark, copyright or other proprietary rights or third&nbsp;party's trade
            secrets or
            rights of publicity or privacy or shall not be fraudulent or involve the sale of counterfeit or stolen
            products;
        </p>

        <p>(u) violates any law for the time being in force;</p>

        <p>(v) deceives or misleads the addressee/ users about the origin of such messages&nbsp;or communicates any
            information which is grossly offensive or menacing in nature;</p>

        <p>(w) impersonate another person;</p>

        <p>(x) contains software viruses or any other computer code, files or programs&nbsp;designed to interrupt,
            destroy
            or limit the functionality of any computer resource;&nbsp;or contains any trojan horses, worms, time bombs,
            cancelbots, easter eggs or&nbsp;other computer programming routines that may damage, detrimentally
            interfere&nbsp;with, diminish value of, surreptitiously intercept or expropriate any system, data&nbsp;or
            personal information;</p>

        <p>(y) threatens the unity, integrity, defense, security or sovereignty of India,&nbsp;friendly relations with
            foreign states, or public order or causes incitement to the commission of any cognizable offence or prevents
            investigation of any offence or&nbsp;is insulting any other nation.</p>

        <p>(z) shall not be false, inaccurate or misleading;</p>

        <p>(aa) shall not, directly or indirectly, offer, attempt to offer, trade or attempt to&nbsp;trade in any item,
            the
            dealing of which is prohibited or restricted in any manner under the provisions of any applicable law, rule,
            regulation or guideline for the&nbsp;time being in force.</p>

        <p>(ab) shall not create liability for Us or cause Us to lose (in whole or in part) the&nbsp;services of Our
            internet service provider ("ISPs") or other suppliers;</p>

        <p>&nbsp;</p>

        <p>2. You shall not use any "deep-link", "page-scrape", "robot", "spider" or other&nbsp;automatic device,
            program,
            algorithm or methodology, or any similar or&nbsp;equivalent manual process, to access, acquire, copy or
            monitor
            any portion of the&nbsp;Website or any Content, or in any way reproduce or circumvent the navigational
            structure
            or presentation of the Website or any Content, to obtain or attempt to&nbsp;obtain any materials, documents
            or
            information through any means not purposely made available through the Website. We reserve Our right to bar
            any
            such&nbsp;activity.</p>

        <p>&nbsp;</p>

        <p>3. You shall not attempt to gain unauthorized access to any portion or feature of&nbsp;the Website, or any
            other
            systems or networks connected to the Website or to any server, computer, network, or to any of the services
            offered on or through&nbsp;the Website, by hacking, password "mining" or any other illegitimate means.</p>

        <p>&nbsp;</p>

        <p>4. You shall not probe, scan or test the vulnerability of the Website or any&nbsp;network connected to the
            Website nor breach the security or authentication&nbsp;measures on the Website or any network connected to
            the
            Website. You may&nbsp;not reverse look-up, trace or seek to trace any information on any other User&nbsp;of
            or
            visitor to Website, or any other customer, including any account on the&nbsp;Website not owned by You, to
            its
            source, or exploit the Website or any service&nbsp;or information made available or offered by or through
            the
            Website, in any&nbsp;way where the purpose is to reveal any information, including but not limited&nbsp;to
            personal identification or information, other than Your own information, as&nbsp;provided for by the
            Website.
        </p>

        <p>&nbsp;</p>

        <p>5. You shall not make any negative, denigrating or defamatory statement(s) or&nbsp;comment(s) about Us or the
            brand name or domain name used by Us including the terms HealthyBazar, TikaRam JaiPrakash, HealthyBazar.com,
            or
            otherwise engage in&nbsp;any conduct or action that might tarnish the image or reputation, of HealthyBazar
            or
            sellers on platform or otherwise tarnish or dilute any HealthyBazar's trade or service&nbsp;marks, trade
            name
            and/or goodwill associated with such trade or service marks, trade name as may be owned or used by us. You
            agree
            that You will not take&nbsp;any action that imposes an unreasonable or disproportionately large load on the
            infrastructure of the Website or HealthyBazar's systems or networks, or any systems or&nbsp;networks
            connected
            to HealthyBazar.</p>

        <p>&nbsp;</p>

        <p>6. You agree not to use any device, software or routine to interfere or attempt&nbsp;to interfere with the
            proper
            working of the Website or any transaction being conducted on the Website, or with any other person's use of
            the
            Website.</p>

        <p>&nbsp;</p>

        <p>7. You may not forge headers or otherwise manipulate identifiers in order to&nbsp;disguise the origin of any
            message or transmittal You send to Us on or through&nbsp;the Website or any service offered on or through
            the
            Website. You may not&nbsp;pretend that You are, or that You represent, someone else, or impersonate
            any&nbsp;other individual or entity.</p>

        <p>&nbsp;</p>

        <p>8. You may not use the Website or any content for any purpose that is unlawful&nbsp;or prohibited by these
            Terms
            of Use, or to solicit the performance of any illegal activity or other activity which infringes the rights
            of
            HealthyBazar and / or others.</p>

        <p>&nbsp;</p>

        <p>9. You shall at all times ensure full compliance with the applicable provisions&nbsp;of the Information
            Technology Act, 2000 and rules thereunder as applicable&nbsp;and as amended from time to time and also all
            applicable Domestic laws, rules&nbsp;and regulations (including the provisions of any applicable Exchange
            Control&nbsp;Laws or Regulations in Force) and International Laws, Foreign Exchange Laws,&nbsp;Statutes,
            Ordinances and Regulations (including, but not limited to Sales Tax/VAT, Income Tax, Octroi, Service Tax,
            Central Excise, Custom Duty, Local Levies)&nbsp;regarding Your use of Our service and Your listing,
            purchase,
            solicitation of&nbsp;offers to purchase, and sale of products or services. You shall not engage in
            any&nbsp;transaction in an item or service, which is prohibited by the provisions of any applicable law
            including exchange control laws or regulations for the time being in&nbsp;force.</p>

        <p>&nbsp;</p>

        <p>10. Solely to enable Us to use the information You supply Us with, so that we are&nbsp;not violating any
            rights
            You might have in Your Information, You agree to grant&nbsp;Us a non-exclusive, worldwide, perpetual,
            irrevocable, royalty-free, sub-licensable&nbsp;(through multiple tiers) right to exercise the copyright,
            publicity, database rights&nbsp;or any other rights You have in Your Information, in any media now known
            or&nbsp;not currently known, with respect to Your Information. We will only use Your information in
            accordance
            with the Terms of Use and Privacy Policy applicable to&nbsp;use of the Website.</p>

        <p>&nbsp;</p>

        <p>11. From time to time, You shall be responsible for providing information relating&nbsp;to the products or
            services proposed to be sold by You. In this connection, You&nbsp;undertake that all such information shall
            be
            accurate in all respects. You shall not&nbsp;exaggerate or over emphasize the attributes of such products or
            services so as to&nbsp;mislead other Users in any manner.</p>

        <p>&nbsp;</p>

        <p>12. You shall not engage in advertising to, or solicitation of, other Users of the&nbsp;Website to buy or
            sell
            any products or services, including, but not limited to, products or services related to that being
            displayed on
            the Website or related to&nbsp;us. You may not transmit any chain letters or unsolicited commercial or junk
            email to other Users via the Website. It shall be a violation of these Terms of Use&nbsp;to use any
            information
            obtained from the Website in order to harass, abuse, or&nbsp;harm another person, or in order to contact,
            advertise to, solicit, or sell to&nbsp;another person other than Us without Our prior explicit consent. In
            order
            to&nbsp;protect Our Users from such advertising or solicitation, We reserve the right to&nbsp;restrict the
            number of messages or emails which a user may send to other Users&nbsp;in any 24-hour period which We deems
            appropriate in its sole discretion. You&nbsp;understand that We have the right at all times to disclose any
            information&nbsp;(including the identity of the persons providing information or materials on
            the&nbsp;Website)
            as necessary to satisfy any law, regulation or valid governmental&nbsp;request. This may include, without
            limitation, disclosure of the information in&nbsp;connection with investigation of alleged illegal activity
            or
            solicitation of illegal&nbsp;activity or in response to a lawful court order or subpoena. In addition, We
            can&nbsp;(and You hereby expressly authorize Us to) disclose any information about You to&nbsp;law
            enforcement
            or other government officials, as we, in Our sole discretion,&nbsp;believe necessary or appropriate in
            connection with the investigation and/or&nbsp;resolution of possible crimes, especially those that may
            involve
            personal injury.</p>

        <p>We reserve the right, but has no obligation, to monitor the materials posted on&nbsp;the Website.
            HealthyBazar
            shall have the right to remove or edit any content that in its&nbsp;sole discretion violates, or is alleged
            to
            violate, any applicable law or either the&nbsp;spirit or letter of these Terms of Use. Notwithstanding this
            right, YOU REMAIN&nbsp;SOLELY RESPONSIBLE FOR THE CONTENT OF THE MATERIALS YOU POST ON&nbsp;THE WEBSITE AND
            IN
            YOUR PRIVATE MESSAGES. Please be advised that such&nbsp;Content posted does not necessarily reflect
            HealthyBazar
            views. In no event shall&nbsp;HealthyBazar assume or have any responsibility or liability for any Content
            posted&nbsp;or for any claims, damages or losses resulting from use of Content and/or&nbsp;appearance of
            Content
            on the Website. You hereby represent and warrant that&nbsp;You have all necessary rights in and to all
            Content
            which You provide and all&nbsp;information it contains and that such Content shall not infringe any
            proprietary&nbsp;or other rights of third parties or contain any libelous, tortious, or
            otherwise&nbsp;unlawful
            information.</p>

        <p>&nbsp;</p>

        <p>13. Your correspondence or business dealings with, or participation in promotions&nbsp;of, advertisers found
            on
            or through the Website, including payment and delivery of related products or services, and any other terms,
            conditions, warranties or&nbsp;representations associated with such dealings, are solely between You and
            such
            advertiser. We shall not be responsible or liable for any loss or damage of any&nbsp;sort incurred as the
            result
            of any such dealings or as the result of the presence of&nbsp;such advertisers on the Website.</p>

        <p>&nbsp;</p>

        <p>14. It is possible that other users (including unauthorized users or "hackers")&nbsp;may post or transmit
            offensive or obscene materials on the Website and that&nbsp;You may be involuntarily exposed to such
            offensive
            and obscene materials. It&nbsp;also is possible for others to obtain personal information about You due to
            your&nbsp;use of the Website, and that the recipient may use such information to harass&nbsp;or injure You.
            We
            does not approve of such unauthorized uses, but by using the Website You acknowledge and agree that We are
            not
            responsible for the use of&nbsp;any personal information that You publicly disclose or share with others on
            the
            Website. Please carefully select the type of information that You publicly disclose&nbsp;or share with
            others on
            the Website.</p>

        <p>&nbsp;</p>

        <p>15. HealthyBazar shall have all the rights to take necessary action and claim damages&nbsp;that may occur due
            to
            your involvement/participation in any way on your own or through group/s of people, intentionally or
            unintentionally in DoS/DDoS&nbsp;(Distributed Denial of Services).</p>

        <p>&nbsp;</p>

        <p>Contents Posted on Site</p>

        <p>All text, graphics, user interfaces, visual interfaces, photographs, trademarks,&nbsp;logos, sounds, music
            and
            artwork (collectively, "Content"), is a third party&nbsp;user generated content and HealthyBazar has no
            control
            over such third party user&nbsp;generated content as HealthyBazar is merely an intermediary for the purposes
            of
            this&nbsp;Terms of Use.</p>

        <p>If data is generated by HealthyBazar and it seems erroneous due to technical issues. If bring into notice or
            discovered, HealthyBazar is committed to correct it. All this data has right reserved of HealthyBazar. No
            one is
            allowed to use it without consent from HealthyBazar.</p>

        <p>Except as expressly provided in these Terms of Use, no part of the Website&nbsp;and no Content may be copied,
            reproduced, republished, uploaded, posted,&nbsp;publicly displayed, encoded, translated, transmitted or
            distributed in any way&nbsp;(including "mirroring") to any other computer, server, Website or other
            medium&nbsp;for publication or distribution or for any commercial enterprise, without
            HealthyBazar's&nbsp;express prior written consent.</p>

        <p>You may use information on the products and services purposely made available&nbsp;on the Website for
            downloading, provided that You (1) do not remove any proprietary notice language in all copies of such
            documents, (2) use such&nbsp;information only for your personal, non-commercial informational purpose
            and&nbsp;do not copy or post such information on any networked computer or broadcast it&nbsp;in any media,
            (3)
            make no modifications to any such information, and (4) do not&nbsp;make any additional representations or
            warranties relating to such documents.</p>

        <p>You shall be responsible for any notes, messages, emails, billboard postings,&nbsp;photos, drawings,
            profiles,
            opinions, ideas, images, videos, audio files&nbsp;or other materials or information posted or transmitted to
            the
            Website&nbsp;(collectively, "Content"). Such Content will become Our property and You grant&nbsp;Us the
            worldwide, perpetual and transferable rights in such Content. We shall&nbsp;be entitled to, consistent with
            Our
            Privacy Policy as adopted in accordance&nbsp;with applicable law, use the Content or any of its elements for
            any
            type of use&nbsp;forever, including but not limited to promotional and advertising purposes and&nbsp;in any
            media whether now known or hereafter devised, including the creation of&nbsp;derivative works that may
            include
            the Content You provide. You agree that any&nbsp;Content You post may be used by us, consistent with Our
            Privacy
            Policy and Rules&nbsp;of Conduct on Site as mentioned herein, and You are not entitled to any
            payment&nbsp;or
            other compensation for such use.</p>

        <p>&nbsp;</p>

        <p>Privacy</p>

        <p>We view protection of Your privacy as a very important principle. We understand&nbsp;clearly that You and
            Your
            Personal Information is one of Our most important assets. We store and process Your Information including
            any
            sensitive financial&nbsp;information collected (as defined under the Information Technology Act,
            2000),&nbsp;if
            any, on computers that may be protected by physical as well as reasonable&nbsp;technological security
            measures
            and procedures in accordance with Information Technology Act 2000 and Rules there under. Our current Privacy
            Policy is&nbsp;available at&nbsp;Privacy. If You object to Your&nbsp;Information being transferred or used
            in
            this way please do not use Website.</p>

        <p>&nbsp;</p>

        <p>We may share personal information with our other corporate entities and affiliates. These entities and
            affiliates
            may market to you as a result of such sharing unless you explicitly opt-out.</p>

        <p>&nbsp;</p>

        <p>We may disclose personal information to third parties. This disclosure may be required for us to provide you
            access to our Services, to comply with our legal obligations, to enforce our User Agreement, to facilitate
            our&nbsp;marketing and advertising activities, or to prevent, detect, mitigate, and investigate fraudulent
            or
            illegal&nbsp;activities related to our Services. We do not disclose your personal information to third
            parties
            for their&nbsp;marketing and advertising purposes without your explicit consent.</p>

        <p>&nbsp;</p>

        <p>We may disclose personal information if required to do so by law or in the good faith belief that
            such&nbsp;disclosure is reasonably necessary to respond to subpoenas, court orders, or other legal process.
            We
            may&nbsp;disclose personal information to law enforcement offices, third party rights owners, or others in
            the
            good faith&nbsp;belief that such disclosure is reasonably necessary to: enforce our Terms or Privacy Policy;
            respond to claims&nbsp;that an advertisement, posting or other content violates the rights of a third party;
            or
            protect the rights, property&nbsp;or personal safety of our users or the general public.</p>

        <p>&nbsp;</p>

        <p>We and our affiliates will share / sell some or all of your personal information with another business
            entity&nbsp;should we (or our assets) plan to merge with, or be acquired by that business entity, or
            re-organization,&nbsp;amalgamation, restructuring of business. Should such a transaction occur that other
            business entity (or the new&nbsp;combined entity) will be required to follow this privacy policy with
            respect to
            your personal information.</p>

        <p>&nbsp;</p>

        <p>Disclaimer of Warranties and Liability</p>

        <p>This Website, all the materials and products (including but not limited to&nbsp;software) and services,
            included
            on or otherwise made available to You&nbsp;through this site are provided on "as is" and "as available"
            basis
            without any&nbsp;representation or warranties, express or implied except otherwise specified
            in&nbsp;writing.
            Without prejudice to the forgoing paragraph, HealthyBazar does not warrant&nbsp;that:</p>

        <p>• This Website will be constantly available, or available at all; or</p>

        <p>• The information on this Website is complete, true, accurate or non-misleading.</p>

        <p>&nbsp;</p>

        <p>HealthyBazar will not be liable to You in any way or in relation to the Contents of, or&nbsp;use of, or
            otherwise
            in connection with, the Website.&nbsp;HealthyBazar does not warrant that this site; information, Content,
            materials, product&nbsp;(including software) or services included on or otherwise made available to
            You&nbsp;through the Website; their servers; or electronic communication sent from Us are&nbsp;free of
            viruses
            or other harmful components.</p>

        <p>Nothing on Website constitutes, or is meant to constitute, advice of any kind.&nbsp;All the Products sold on
            Website are governed by different state laws and if Seller&nbsp;is unable to deliver such Products due to
            implications of different state laws,&nbsp;Seller will return or will give credit for the amount (if any)
            received in advance by&nbsp;Seller from the sale of such Product that could not be delivered to You.</p>

        <p>You will be required to enter a valid phone number while placing an order on the&nbsp;Website. By registering
            Your phone number with us, You consent to be contacted&nbsp;by Us via phone calls and/or SMS notifications,
            in
            case of any order or shipment&nbsp;or delivery related updates. We will not use your personal information to
            initiate&nbsp;any promotional phone calls or SMS.</p>

        <p>&nbsp;</p>

        <p>Selling</p>

        <p>&nbsp;</p>

        <p>As a registered seller, you are allowed to list item(s) for sale on the Website in accordance with the
            Policies
            which are incorporated by way of reference in this Terms of Use. You must be legally able to sell the
            item(s)
            you list for sale on our Website. You must ensure that the listed items do not infringe upon the
            intellectual
            property, trade secret or other proprietary rights or rights of publicity or privacy rights of third
            parties.
            Listings may only include text descriptions, graphics and pictures that describe your item for sale. All
            listed
            items must be listed in an appropriate category on the Website. All listed items must be kept in stock for
            successful fulfilment of sales.<br>
            <br>
            The listing description of the item must not be misleading and must describe actual condition of the
            product. If
            the item description does not match the actual condition of the item, you agree to refund any amounts that
            you
            may have received from the Buyer. You agree not to list a single product in multiple quantities across
            various
            categories on the Website. HealthyBazar reserves the right to delete such multiple listings of the same
            product
            listed by you in various categories.
        </p>

        <p>&nbsp;</p>

        <p>Services</p>

        <p>Payment</p>

        <p>While availing any of the payment method/s available on the Website, we will&nbsp;not be responsible or
            assume
            any liability, whatsoever in respect of any loss or damage arising directly or indirectly to You due to:</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>Lack of authorization for any transaction/s, or</p>

        <p>Exceeding the preset limit mutually agreed by You and between&nbsp;"Bank/s", or</p>

        <p>Any payment issues arising out of the transaction, or</p>

        <p>Decline of transaction for any other reason/s</p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <p>All payments made against the purchases/services on Website by you shall be&nbsp;compulsorily in Indian
            Rupees
            acceptable in the Republic of India. Website will not facilitate transaction with respect to any other form
            of
            currency with respect&nbsp;to the purchases made on Website.</p>

        <p>Before shipping / delivering your order to you, Seller may request you to provide&nbsp;supporting documents
            (including but not limited to Govt. issued ID, address proof and medical bills) to establish the ownership
            of
            the payment instrument used by you for&nbsp;your purchase. This is done in the interest of providing a safe
            online shopping environment to Our Users.</p>

        <p>Further:</p>

        <p>1. Transactions, Transaction Price and all commercial terms such as Delivery,&nbsp;Dispatch of products
            and/or
            services are as per principal to principal bipartitecontractual obligations between Buyer and Seller and
            payment
            facility is merely&nbsp;used by the Buyer and Seller to facilitate the completion of the Transaction. Useof
            the
            payment facility shall not render HealthyBazar liable or responsible for the non-delivery, non-receipt,
            non-payment, damage, breach of representations andwarranties, non-provision of after sales or warranty
            services
            or fraud as regards&nbsp;the products and /or services listed on HealthyBazar's Website.</p>

        <p>&nbsp;</p>

        <p>2. You have specifically authorized HealthyBazar or its service providers to&nbsp;collect, process,
            facilitate
            and remit payments and / or the Transaction Price&nbsp;electronically or through Cash on Delivery to and
            from
            other Users in respect&nbsp;of transactions through Payment Facility. Your relationship with HealthyBazar is
            on
            a&nbsp;principal to principal basis and by accepting these Terms of Use you agree that&nbsp;HealthyBazar is
            an
            independent contractor for all purposes, and does not have control&nbsp;of or liability for the products or
            services that are listed on HealthyBazar's Website&nbsp;that are paid for by using the Payment Facility.
            HealthyBazar does not guarantee the&nbsp;identity of any User nor does it ensure that a Buyer or a Seller
            will
            complete a&nbsp;transaction.</p>

        <p>&nbsp;</p>

        <p>3. You understand, accept and agree that the payment facility provided by&nbsp;HealthyBazar is neither a
            banking
            nor financial service but is merely a facilitator&nbsp;providing an electronic, automated online electronic
            payment, receiving payment&nbsp;through Cash On Delivery, collection and remittance facility for the
            Transactions&nbsp;on the HealthyBazar Website using the existing authorized banking infrastructure
            and&nbsp;Credit Card payment gateway networks. Further, by providing Payment Facility,&nbsp;HealthyBazar is
            neither acting as trustees nor acting in a fiduciary capacity with respect&nbsp;to the Transaction or the
            Transaction Price.</p>

        <p>&nbsp;</p>

        <p>Payment Facility for Buyers:</p>

        <p>• You, as a Buyer, understand that upon initiating a Transaction You are&nbsp;entering into a legally binding
            and
            enforceable contract with the Seller to&nbsp;purchase the products and /or services from the Seller using
            the
            Payment&nbsp;Facility, and You shall pay the Transaction Price through Your Issuing Bank&nbsp;to the Seller
            using Payment Facility.</p>

        <p>• You, as a Buyer, may agree with the Seller through electronic&nbsp;communication and electronic records and
            using the automated features&nbsp;as may be provided by Payment Facility on any extension / increase in
            the&nbsp;Dispatch and/or Delivery time and the Transaction shall stand amended to&nbsp;such extent. Any such
            extension / increase of Dispatch / Delivery time or&nbsp;subsequent novation / variation of the Transaction
            should be in compliance&nbsp;with Payment Facility Rules and Policies.</p>

        <p>• You, as a Buyer, shall electronically notify Payment Facility using the&nbsp;appropriate HealthyBazar
            Website
            features immediately upon Delivery or non&nbsp;Delivery within the time period as provided in Policies. Non
            notification&nbsp;by You of Delivery or non Delivery within the time period specified in&nbsp;the Policies
            shall
            be construed as a deemed Delivery in respect of that&nbsp;Transaction. In case of Cash On Delivery
            transactions,
            Buyer is not required&nbsp;to confirm the receipt of products or services.</p>

        <p>• You, as a Buyer, shall be entitled to claim a refund of the Transaction&nbsp;Price (as Your sole and
            exclusive
            remedy) in case You do not receive the&nbsp;Delivery within the time period agreed in the Transaction or
            within
            the time&nbsp;period as provided in the Policies, whichever is earlier. In case you do not&nbsp;raise a
            refund
            claim using Website features within the stipulated time than&nbsp;this would make You ineligible for a
            refund.
        </p>

        <p>• You, as a Buyer, understand that the Payment Facility may not be&nbsp;available in full or in part for
            certain
            category of products and/or services&nbsp;and/or Transactions as mentioned in the Policies and hence You may
            not
            be&nbsp;entitled to a refund in respect of the Transactions for those products and /or&nbsp;services</p>

        <p>• Except for Cash On Delivery transaction, refund, if any, shall be made at&nbsp;the same Issuing Bank from
            where
            Transaction Price was received.</p>

        <p>• For Cash On Delivery transactions, refunds, if any, will be made via&nbsp;demand draft in favour of the
            Buyer
            (As per registration details provided by&nbsp;the Buyer)</p>

        <p>• Refund shall be made in Indian Rupees only and shall be equivalent to the&nbsp;Transaction Price received
            in
            Indian Rupees.</p>

        <p>• For electronics payments, refund shall be made through payment facility&nbsp;using NEFT / RTGS or any other
            online banking / electronic funds transfer&nbsp;system approved by Reserve Bank India (RBI).</p>

        <p>• Refund shall be conditional and shall be with recourse available to HealthyBazar&nbsp;in case of any misuse
            by
            Buyer.</p>

        <p>• Refund shall be subject to Buyer complying with Policies.</p>

        <p>&nbsp;</p>

        <p>4. HealthyBazar reserves the right to impose limits on the number of Transactions or&nbsp;Transaction Price
            which
            HealthyBazar may receive from on an individual Valid Credit/Debit/ Cash Card / Valid Bank Account/ and such
            other infrastructure or any&nbsp;other financial instrument directly or indirectly through payment
            aggregator
            orthrough any such facility authorized by Reserve Bank of India to provide enabling&nbsp;support facility
            for
            collection and remittance of payment or by an individual Buyer&nbsp;during any time period, and reserves the
            right to refuse to process Transactions&nbsp;exceeding such limit.</p>

        <p>&nbsp;</p>

        <p>5. HealthyBazar reserves the right to refuse to process Transactions by Buyers with a&nbsp;prior history of
            questionable charges including without limitation breach of any agreements by Buyer with HealthyBazar or
            breach/violation of any law or any charges&nbsp;imposed by Issuing Bank or breach of any policy.</p>

        <p>&nbsp;</p>

        <p>6. HealthyBazar may do such checks as it deems fit before approving the receipt of/Buyers commitment to pay
            (for
            Cash On Delivery transactions) Transaction Price from the Buyer for security or other reasons at the
            discretion
            of HealthyBazar. As a&nbsp;result of such check if HealthyBazar is not satisfied with the creditability of
            the
            Buyer or&nbsp;genuineness of the Transaction / Transaction Price, it will have the right to reject&nbsp;the
            receipt of / Buyers commitment to pay Transaction Price.</p>

        <p>&nbsp;</p>

        <p>7. HealthyBazar may delay notifying the payment confirmation i.e. informing Seller to&nbsp;Dispatch, if
            HealthyBazar deems suspicious or for Buyers conducting high transaction volumes to ensure safety of the
            Transaction and Transaction Price. In addition,&nbsp;HealthyBazar may hold Transaction Price and
            HealthyBazar
            may not inform Seller to Dispatch&nbsp;or remit Transaction Price to law enforcement officials (instead of
            refunding the&nbsp;same to Buyer) at the request of law enforcement officials or in the event the&nbsp;Buyer
            is
            engaged in any form of illegal activity.</p>

        <p>&nbsp;</p>

        <p>8. The Buyer and Seller acknowledge that HealthyBazar will not be liable for any&nbsp;damages, interests or
            claims etc. resulting from not processing a Transaction/Transaction Price or any delay in processing a
            Transaction/Transaction Price&nbsp;which is beyond control of HealthyBazar.</p>

        <p>&nbsp;</p>

        <p>Compliance with Laws:</p>

        <p>9. Buyer and Seller shall comply with all the applicable laws (including without&nbsp;limitation Foreign
            Exchange
            Management Act, 1999 and the rules made and notifications issued there under and the Exchange Control Manual
            as
            may be&nbsp;issued by Reserve Bank of India from time to time, Customs Act, Information and Technology Act,
            2000
            as amended by the Information Technology (Amendment) Act 2008, Prevention of Money Laundering Act, 2002 and
            the
            rules made there under, Foreign Contribution Regulation Act, 1976 and the rules made there&nbsp;under,
            Income
            Tax Act, 1961 and the rules made there under, Export Import&nbsp;Policy of government of India) applicable
            to
            them respectively for using Payment&nbsp;Facility and HealthyBazar Website.</p>

        <p>&nbsp;</p>

        <p>Buyer's arrangement with Issuing Bank:</p>

        <p>10. All Valid Credit / Debit/ Cash Card/ and other payment instruments are&nbsp;processed using a Credit Card
            payment gateway or appropriate payment system infrastructure and the same will also be governed by the terms
            and
            conditions&nbsp;agreed to between the Buyer and the respective Issuing Bank and payment instrument issuing
            company.</p>

        <p>&nbsp;</p>

        <p>11. All Online Bank Transfers from Valid Bank Accounts are processed using the&nbsp;gateway provided by the
            respective Issuing Bank which support Payment Facility&nbsp;to provide these services to the Users. All such
            Online Bank Transfers on Payment&nbsp;Facility are also governed by the terms and conditions agreed to
            between
            Buyer&nbsp;and the respective Issuing Bank.</p>

        <p>&nbsp;</p>

        <p>Limitation of Liability:&nbsp;In no event will HealthyBazar will be liable for any money&nbsp;lying to your
            credit in HealthyBazar wallet, any special, incidental, indirect or consequential&nbsp;damages or losses of
            any
            kind, arising from the use of HealthyBazar Money or association with&nbsp;HealthyBazar Money.</p>

        <p>&nbsp;</p>

        <p>5 Day Replacement Guarantee*</p>

        <p>&nbsp;The 5 Day Replacement Guarantee seeks to assist Buyers who have been defrauded by quality of product.
            If at
            the time of delivery and/or within 7 days from the date of delivery of the product/s, if any defect is
            found,
            then the buyer of the product/s can ask for replacement of the product/s from the seller subject to the
            following terms and conditions:</p>

        <p>Notify seller of any defects in the product/s at the time of delivery of the product/s and/or within 5 days
            from
            the date of delivery and the same product/s will be replaced in return of the defective product/s.</p>

        <p>Replacement can be for the entire product/s or part/s of the product subject to availability of the same with
            the
            seller.<br>
            <br>
            Following products shall not be eligible for return or replacement:<br>
            • Damages due to misuse of product;<br>
            • Incidental damage due to malfunctioning of product;<br>
            • Any consumable item which has been used/installed;<br>
            • Products with tampered or missing serial/UPC numbers;
        </p>

        <p>Any consumable item (Such as Food items, Oils, Herbs etc) will not be replaced/refunded after consuming/using
            it.
        </p>

        <p>Grocery item can't be replaced/refunded after accepting it from delivery person</p>
    </div>

</div>