.product-increment-decrement-container {
  background-color: #069041;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  color: #fff;
  // font-weight: 500;
  width: 58px;
  height: 27px;
  border-radius: 4px;
}