.slide-item {
  width: 90px;
}

a {
  display: block;
  text-decoration: none;
  color: #212121;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  background-color: #fff;
}




.cont {
  padding: 30px 30px;
}

.product-label {
  color: #1c1c1c;
  font-size: 18px;
  font-family: Inter;
  font-weight: 600;
}

.healthconcern-topbrand-btn-color {
  background-color: white;
  color: #c5690c;
  border-radius: 6px;
}