<app-card class="coupon-card-container">
    <!-- <div class="coupon-code-image" body>
        <img class="coupon-bg-img" [src]="offferCoupon.imgSrc" alt="">
    </div> -->
    <div class="banner-back banner-container" [ngStyle]="{background: 'url(' + couponcode.imgSrc + ')'}" body>
        <!-- <div class="promotion-label">
            <ng-content select="[label]"></ng-content>
        </div> -->
        <!-- <div class="promotion-sublabel">
            <ng-content select="[button]"></ng-content>
        </div> -->
    </div>
</app-card>
<!-- End: coupon offer -->