<div class="d-inline-block starRating align-middle">
    <i class="material-icons" [ngClass]="{filled: rating >= 1}">{{rating >= 1?'star_rate':'star_border'}}</i>
    <i class="material-icons" [ngClass]="{filled: rating >= 2}">{{rating >= 2?'star_rate':'star_border'}}</i>
    <i class="material-icons" [ngClass]="{filled: rating >= 3}">{{rating >= 3?'star_rate':'star_border'}}</i>
    <i class="material-icons" [ngClass]="{filled: rating >= 4}">{{rating >= 4?'star_rate':'star_border'}}</i>
    <i class="material-icons" [ngClass]="{filled: rating >= 5}">{{rating >= 5?'star_rate':'star_border'}}</i>
</div>