@import "../../../../../../assets/styles/variables";
@import "../../../../../../assets/scss/modal-stepper";

.otp-button {
  border: none;
  background-color: transparent;
  font-weight: 600;
  padding: 7px 12px;
  text-transform: uppercase;
  &:hover,
  &:active {
    background-color: #f2f2f2;
  }
}
.color-orange{
color: #Ef8b1e;
}
.save-button{
  background-color: #058f46;
  color: #fff;
  border: 1px solid #058f46;
}
.profile-inputs{
  padding: 0.5em 1em 0.5em 1em;
  background-color: #fff;
  border: 1px solid #808080;
  font-size: 14px;
  color: #000;
}
.otp-container {
  border-radius: 5px;
  border: 1px solid #b6b6b6;
  width: 35px;
  color: #000;
}
.bottom-border{
  border-bottom: 1px solid #e5e5e5;
}
.otp-request-button{
  color: #fff;
  background-color: #333333;
  border: 1px solid #333333;
}