@import "../../../assets/styles/main.scss";
@import "../../../assets/styles/main.scss";
@import "../../shared/components/filters/filters.component.scss";

.product-card {
  width: 225px;
  height: 266px;
  background-size: 100% 100%;
  border-radius: 12px;
  // border: 1px solid black;
}

:host {
  background-color: #fff;
  display: block;

  ::ng-deep {
    .slick-track {
      transform: translate3d(0px, 0px, 0px) !important;
    }
  }
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.filterCol {
  flex: 0 0 300px;
  max-width: 300px;
}

.center-spacing {
  background-color: #e0f3e7;
  max-width: 15px;
  padding-left: 0%;
  z-index: 99999;
}

.extended-width {
  flex: 0 0 calc(100% - 315px);
  max-width: calc(100% - 315px);

  @include max-sm {
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0 !important;
  }
}

.fixed-top {
  position: sticky;
}

.underline {
  height: 1px;
  color: #e5e5e5;
  background-color: #e5e5e5;
  margin-top: -1%;
}

.sub-heading-text {
  font-size: 18px;
  font-weight: 600;
}

.arrow-position {
  transform: translateY(5px);
  font-size: 18px;
}

.search-bar {
  width: 90%;
  border: none;
  outline: none;
  border-bottom: 1px solid #e5e5e5;

  ::placeholder {
    color: #e5e5e5;
    font-size: 14px;
  }
}

.search-icon {
  transform: translateX(-10px);
  color: #666666;
  padding-bottom: 8px;
  border-bottom: 1px solid #e5e5e5;
}

li {
  list-style-type: none;
}

.sub-sub-heading-text {
  font-weight: 600;
  font-size: 14px;
}

.label-text {
  font-size: 14px;
}

/*
**
This is the css written for the price slider.
This is the overrided css for the default css used by the npm
**
*/

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-bar {
    background: #666666;
    height: 4px;
  }

  .custom-slider .ngx-slider .ngx-slider-selection {
    background: #058f46;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 16px;
    height: 16px;
    top: auto;
    /* to remove the default positioning */
    bottom: -4px;
    background-color: #fff;
    outline: #058f46;
    border: 1px solid #058f46;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    color: orange;
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: #666666;
  }
}

/*
**CSS for price slider ends
*/

.price-range-container {
  width: 40%;
  outline: #e5e5e5;
  border-color: #e5e5e5;
}

.description-text {
  color: #666666;
  font-size: 16px;
  text-align: justify;
}

.bold-text {
  font-weight: 700;
}

.bottom-border-green {
  border-bottom: 2px solid #058f46;
  padding-bottom: 12px;
}

.margin-25 {
  margin-left: -25px;
  width: 110%;
}

.margin-50 {
  margin-left: -50px;
}

.container-spacing-small {
  max-width: 1% !important;
  flex: 0 0 1% !important;
  background-color: #e0f3e7;
  height: 1550px;
}

.pad-left-2 {
  padding-left: 2rem;
}

.pad-left-3 {
  padding-left: 3rem;
}

.empty-space {
  background-color: #e0f3e7;
  height: 15px;
}

.center-spacing {
  background-color: #e0f3e7;
  max-width: 15px;
  padding-left: 0%;
  z-index: 1;
}

.sortSelect {
  display: none;
  font-size: 14px;
  min-width: 180px;

  @include max-lg {
    display: inline-block;

    & ~ div {
      display: none;
    }
  }
}

.search-container {
  display: flex;
  position: relative;
  margin-right: 20px;
}

.search-container input {
  width: 0px;
  /* Initial width */
  transition: width 0.3s ease-in-out;
}

.search-container input.expanded {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 200px;
  /* Expanded width */
}

.bottom-modal-filter {
  position: fixed;
  top: auto;
  left: 50%;
  bottom: 0;
  margin: 0;
  width: 100%;
  min-height: 150px;
  max-height: auto;
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  transform: translateX(-50%) !important;
}

#sampleModal {
  min-height: 500px;
}

.modal {
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);

  /* Black w/ opacity */
  .modal-dialog {
    .modal-content {
      .modal-header {
        display: flex !important;
        background: transparent;
        background-color: transparent;

        .btn-close {
          margin: 0 auto;
        }
      }

      .modal-body {
        .modal-filter-fixed-height {
          min-height: 298px;
          max-height: 605px;
        }
      }

      .modal-footer {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .filter-name {
    margin-top: 5px;
    border-bottom: 1px solid #000000;
    width: 100%;
  }

  .modal-search-bar {
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 1px solid #e5e5e5;

    ::placeholder {
      color: #e5e5e5;
      font-size: 14px;
    }
  }
}

.modal-footer {
  > * {
    max-width: 174px;
    width: 100%;
  }
}

.category-product-container {
  overflow: auto;

  .mob-filter-container {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    column-gap: 8px;

    .mob-sort-filter-container {
      margin-left: 5px;

      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // width: auto;
        // height: 27px;
        background-color: #fff;
        border-radius: 6px;
        color: #727272;
        border: 1px solid #d4d4d4;

        .sort-down-arrow {
          margin-left: 6px;
        }
      }
    }

    .mob-category-filter-container {
      button {
        display: flex;
        justify-content: space-between;
        // column-gap: 3px;
        align-items: center;
        // width: auto;
        // height: 27px;
        background-color: #fff;
        border-radius: 6px;
        color: #727272;
        border: 1px solid #d4d4d4;

        img {
          margin-left: 6px;
        }
      }
    }
  }

  .category-container {
    // border: 1px solid black;
    // min-height: 865px !important;
    // max-height: 900px !important;

    > .row {
      margin-left: -4px;
      margin-right: -4px;

      > div {
        display: flex;
        justify-content: center;
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 6px;
        margin-top: 10px;
      }
    }
  }
}

.productsSec {
  background-color: #f4f6fb;
}

// my css
.grayBorder {
  border: 1px solid rgba(152, 152, 152, 0.2);
}

.list-group-item.active {
  background-color: #069041 !important;
  border-color: #069041 !important;
}

.green-theme-bg {
  background-color: #069041 !important;
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .search-bar {
    width: 88%;
    font-size: 14px;
  }

  .font-14 {
    font-size: 14px;
  }
}

// mobile view start here
@media (max-width: 768px) {
  .title {
    font-size: 16px;
    font-weight: 500;
  }

  .category-header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    padding: 0px 8px;
  }

  .mob-category-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  .category-container {
    // max-height: 1630px;
  }

  .search-container {
    display: flex;
    position: relative;
    margin-right: 0px;

    & button {
      border: none;
      background-color: transparent;
    }
  }

  .search-container input.expanded {
    border: 1px solid #e8e8e8;
    padding: 8px 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 100%;

    /* Expanded width */
    &::placeholder {
      font-size: 14px;
      color: #a2a2a2;
      font-weight: 400;
    }

    &:focus,
    &:focus-visible,
    &:active,
    &:hover {
      box-shadow: none;
      outline: none;
    }
  }

  .category-product-container {
    .mob-filter-container {
      .mob-sort-filter-container {
        margin-left: 0px;

        button {
          background-color: #fff;
          border-radius: 6px;
          color: #727272;
          border: 1px solid rgba(212, 212, 212, 0.5);
          padding: 6px 10px;

          .sort-down-arrow {
            margin-left: 6px;
          }

          .sort {
            margin-right: 4px;
          }
        }
      }

      .mob-category-filter-container {
        margin-left: 0px;

        button {
          background-color: #fff;
          border-radius: 6px;
          color: #727272;
          border: 1px solid rgba(212, 212, 212, 0.5);
          padding: 6px 10px;

          .sort {
            margin-right: 4px;
          }
        }
      }
    }
  }

  .modal {
    .modal-dialog {
      max-width: 100%;
    }
  }

  .fixed-height {
    height: 11rem;
    outline: none;
    border: none;
    overflow-y: auto;
  }
}

@media (max-width: 576px) {
  .category-product-container {
    .mob-filter-container {
      overflow-x: scroll;
      white-space: nowrap;

      &::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        border-radius: 0px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
        border: 1px solid #6d8889;
        border-radius: 0px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #6d8889;

        border-radius: 0px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #076a6f;

        border-radius: 0px;
      }

      .mob-sort-filter-container {
        button {
          min-width: 130px;
        }
      }
    }
  }
}

@include max-lg {
  .sortCont {
    justify-content: flex-end;
    align-items: center;
  }

  .width100 {
    width: 100%;
    padding: 0px 25px;
    max-width: 100%;
  }
}

@include max-sm {
  .pad-left-2 {
    padding-left: 0;
  }

  .pad-left-3 {
    padding-left: 15px;
  }

  .width100 {
    padding: 0px 0px;
  }
}

@include max-xs {
  .modal-footer {
    > * {
      max-width: 120px;
    }
  }
}

@include min-sm {
  .min-sm-mx-12 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

@media (min-width: 1440px) {
  .no-pad-left {
    padding-left: 0%;
  }
}
