$color-primary: #058f46;
$color-secondary: #ef6955;
$color-orange: #ef8b1e;
$color-body: #212529;

$img-base: "https://cdn.healthybazar.com/images/";
$img-icon-collection: $img-base + "hb-icons-collection-v2.png";