<a [routerLink]="'/lifestyle-tips/' + data.titleName" class="tipCard">
  <img [src]="cloudImgUrl + (data.thumbnail?.savedName || data.featuredImage?.savedName)" alt="" loading="lazy">
  <span class="ph-3 tipDetails">
    <span *ngIf="data.categories?.[0]?.name" class="tipCat">{{data.categories?.[0]?.name}}</span>
    <h3 class="tipTitle twoLines mb-3">{{data.title}}</h3>
    <span class="d-flex authorCont">
      <ng-container *ngIf="data.author">
        <img class="authorPic" [src]="cloudImgUrl + data.author.profilePhoto?.savedName"
          [alt]="(data.author.firstName || '') +' '+(data.author.lastName || '')" loading="lazy">
        <span class="flex-grow-1">
          <span class="d-block authorName">{{data.author.firstName}} {{data.author.lastName}}</span>
          <span class="date">{{data.updatedAt | date:'MMM dd, Y'}}</span>
        </span>
      </ng-container>
    </span>
    <div *ngIf="!data.categories?.[0]?.name" style="height:42px"></div>
  </span>
</a>